.tab-link {
  @apply whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm transition-colors duration-200 outline-none;
  /* Default inactive state */
  @apply border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300;
}

.active-tab {
  /* Active state */
  @apply border-primary-500 text-primary-600;
}

.scroolbar-hide::-webkit-scrollbar {
    display: none;
}
.scroolbar-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
}
